<div class= "banner">
  <div class="container">
    <h1>Rent Paintings</h1>
    <p>Rent your favorite painting anytime.</p>
  </div>
  <div class="search-form-control form-group">
    <%= form_with url: root_path, method: :get, class: "simple_form search" do |f| %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a painting"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="cardcontainer">
  <h1>Explore...</h1>
  <div class="cards">
    <% @paintings.each do |painting| %>
      <div class="card-product" data-controller="card">
      <%= cl_image_tag painting.photo.key, height: 300, width: 400, crop: :fit %>
        <div class="card-product-infos">
          <h2><%= link_to painting.name, painting_path(painting) %></h2>
          <p><strong>Artist: </strong><%= painting.artist_name %></p>
          <p><strong>Year: </strong><%= painting.year %></p>
          <p><strong>Price: </strong><%= painting.price %></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
