<h1> Paintings </h1>
<br>
<br>
<% @paintings.each do |painting| %>

  <div class="card-product">
    <%= cl_image_tag painting.photo.key, height: 300, width: 400, crop: :fit %>
    <div class="card-product-infos">
      <h2><%= painting.name %></h3>
      <p><strong>Artist: </strong><%= painting.artist_name %></p>
      <p><strong>Year: </strong><%= painting.year %></p>
      <p><strong>Price: </strong><%= painting.price %></p>
    </div>
  </div>
<% end %>
