<div class= "banner">
  <div class="container">
    <h1>Rent Paintings</h1>
    <p>Rent your favorite painting anytime.</p>
  </div>
  <div class="search-form-control form-group">
    <%= form_with url: root_path, method: :get, class: "simple_form search" do |f| %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a painting"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="cardcontainer">
  <h1>Explore...</h1>
  <div class="cards">
    <% @paintings.each do |painting| %>
      <div class="card-product" data-controller="card">
      <%= cl_image_tag painting.photo.key, height: 300, width: 400, crop: :fit %>
        <div class="card-product-infos">
          <h2><%= link_to painting.name, painting_path(painting) %></h2>
          <p><strong>Artist: </strong><%= painting.artist_name %></p>
          <p><strong>Year: </strong><%= painting.year %></p>
          <p><strong>Price: </strong><%= painting.price %></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="row justify-content-end">
      <%= link_to "Add painting", new_painting_path, class: "btn btn-flat", id: "add-painting" %>
  </div>

</div>
<div class="footer">
      <p>Check out our social media<i class="fa-solid fa-heart"></i></p>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
      <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-square-github"></i></a>
</div>
  <div class="form-row text-center">
    <div class="col-12">
      <%= link_to "Add painting", new_painting_path, class: "btn btn-flat mb-3", id: "add-painting"%>
    </div>
  </div>
