<div class= "banner">
  <div class="container">
      <h1>Rent Paintings</h1>
      <p>Rent your favorite painting anytime.</p>
    </div>
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search with keyword"/>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
<div class="cardcontainer">
  <h1> Paintings </h1>
  <br>
  <br>
  <div class="cards">
    <% @paintings.each do |painting| %>
      <div class="card-product" data-controller="card">
      <%= cl_image_tag painting.photo.key, height: 300, width: 400, crop: :fit %>
        <div class="card-product-infos">
          <h2><%= link_to painting.name, painting_path(painting) %></h2>
          <p><strong>Artist: </strong><%= painting.artist_name %></p>
          <p><strong>Year: </strong><%= painting.year %></p>
          <p><strong>Price: </strong><%= painting.price %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-end">
      <%= link_to "Add painting", new_painting_path, class: "btn btn-flat", id: "add-painting" %>
  </div>

</div>
<div class="footer">
      <p>Check out our social media<i class="fa-solid fa-heart"></i></p>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
      <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-square-github"></i></a>
</div>
