<div class="container" id="painting-form">
  <div class="row justify-content-center">
    <div class="col-8 border border-dark">
      <div class="simple-form">
        <h1>Add a painting</h1>
        <%= simple_form_for(@painting) do |f| %>
          <%= f.input :name %>
          <%= f.input :artist_name %>
          <%= f.input :year %>
          <%= f.input :price %>
          <%= f.input :photo, as: :file %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
