<div class="container" id="painting-info">
  <div class="row">
    <div class="col-5">
      <%= cl_image_tag @painting.photo.key, width: 400, crop: :fit, class: "rounded" %>
    </div>
    <div class="col-6">
      <h2> <%= @painting.name %> </h2>
      <ul>
        <li> <strong>Artist: </strong><%= @painting.artist_name %> </li>
        <li> <strong>Year: </strong><%= @painting.year %> </li>
        <li> <strong>Price: </strong><%= @painting.price %> € </li>
      </ul>
      <div class="row justify-content-centre">
        <div class="col ml-3">
          <%= link_to "Delete", painting_path(@painting), data: { turbo_method: :delete, turbo_confirm: "Delete #{@painting.name}?" }, class: "btn btn-flat" %>
        </div>
        <div class="col">
          <%= link_to "Edit", edit_painting_path, class: "btn btn-flat" %>
        </div>
        <div class="col ml-3">
          <%= link_to "Book now", "#", class: "btn btn-flat" %>
        </div>


        <div class="row justify-content-end">
          <div class="col-2">
            <%= link_to "Back", root_path, class: "btn btn-ghost", id: "btn-back" %>
          </div>
        </div>
    </div>
  </div>
</div>
