<div class="container" id="painting-info">
  <div class="row">
    <div class="col-5">
      <%= cl_image_tag @painting.photo.key, width: 400, crop: :fit, class: "rounded" %>
    </div>
    <div class="col-6">
      <h2> <%= @painting.name %> </h2>
      <ul>
        <li> <strong>Artist: </strong><%=  @painting.artist_name %> </li>
        <li> <strong>Year: </strong><%=  @painting.year %> </li>
        <li> <strong>Price: </strong><%=  @painting.price %> € </li>
      </ul>
      <%= simple_form_for([@painting, @booking]) do |f| %>
        <%= f.input :startdate %>
        <%= f.input :enddate %>
        <%= f.submit %>
      <% end %>
      <div class="row justify-content-end">
        <div class="col-2">
          <%= link_to "Back", root_path, class: "btn btn-ghost", id: "btn-back"%>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <% if @previous_booking %>
    <div class="row">
    <%# TODO: Notification to review.... %>
      <div class="col">
        <div class="alert alert-warning" role="alert">
          ⚠️ Please rate your recent booking!
        </div>
        <%= render "reviewform" %>
      </div>
    </div>
  <% end %>
  <% @reviews.each do |review| %>
    <p><strong>Rating: </strong><%= review.rating %></p>
    <p><strong>Content: </strong><%= review.content %></p>
  <% end %>
</div>
