<h1> Your Dashboard </h1>
<br>
<h2> Your Paintings </h2>
v
    <% @paintings.each do |painting| %>
      <div class="card-product" data-controller="card">
      <%= cl_image_tag painting.photo.key, height: 300, width: 400, crop: :fit %>
        <div class="card-product-infos">
          <h2><%= link_to painting.name, painting_path(painting) %></h2>
          <p><strong>Artist: </strong><%= painting.artist_name %></p>
          <p><strong>Year: </strong><%= painting.year %></p>
          <p><strong>Price: </strong><%= painting.price %></p>
        </div>
      </div>
    <% end %>
</div>
<h3> Your Bookings: </h3>
<br>
<h4> As owner: </h4>
<div class="cards">
<%=  @bookings_owner.each do |booking| %>
<div class="card-product" data-controller="card">
  <%= cl_image_tag booking.painting.photo.key, height: 300, width: 400, crop: :fit %>
  <div class="card-product-infos">
  <h2><%= link_to booking.painting.name, painting_path(booking.painting) %></h2>
  <p><strong>Startdate: </strong><%= booking.startdate %></p>
  <p><strong>Enddate: </strong><%= booking.enddate %></p>
  <p><strong>Price/Week: </strong><%= booking.painting.price %></p>
</div>
</div>
<% end %>
</div>
<h4> As lender: </h4>
<%=  @bookings_renter.each do |booking| %>
<div class="card-product" data-controller="card">
  <%= cl_image_tag booking.painting.photo.key, height: 300, width: 400, crop: :fit %>
  <div class="card-product-infos">
  <h2><%= link_to booking.painting.name, painting_path(booking.painting) %></h2>
  <p><strong>Startdate: </strong><%= booking.startdate %></p>
  <p><strong>Enddate: </strong><%= booking.enddate %></p>
  <p><strong>Price/Week: </strong><%= booking.painting.price %></p>
</div>
<% end %>
</div>
